<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="  color: #616e7e;">Developer</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content >
  <ion-card>
    <ion-card-header>
      <div align="center">
       
          <img src="assets/icons/shiv.png" />
          <h6><b>Shiv Kumar Mahobia</b></h6>

         
            <b style="color: orange;">PRSU LIBRARY</b> App is developed by <b>Shiv Kumar Mahobia,</b> a Computer Science & IT student enrolled in MCA (2021-23). <br><br> For inquiries connect with Shiv via  shivmahobia83@gmail.com

        
            <br>
            <br>
            <ion-button>
              <ion-icon (click)="mailto()"  name="mail-outline"></ion-icon>
              <ion-label (click)="mailto()"  >&nbsp;Mail</ion-label>
            </ion-button>
        
      
      </div>
    </ion-card-header>
  </ion-card>
</ion-content>
