<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title style="  color: #616e7e;">About</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card>
    <ion-card-header>
      <div align="center">
       
          <img src="assets/icons/about.png" />
      
        <h5>The library of this university took birth in a small room of Govt. Science College, Raipur in 1965. After about a year it was shifted to the stadium of Govt. Science College, Raipur where it spent its infancy. In 1970 it was shifted to its own building where it is situated today.</h5>
      <br>
      <h5>The Central Library is located at the heart of the campus with greenery all around, in a peaceful environment. It was named after Pt. Sundarlal Sharma the legendary freedom fighter and social reformer of Chhattisgarh. With the launching of UGC-Infonet in December 2003, the internet reached the library. Presently internet is available under the NME-ICT project of the Govt. of India.</h5>
      </div>
    </ion-card-header>
  </ion-card>
  
</ion-content>
